<div class="panel panel-default">
    <div class="panel-heading">我的积分</div>
    <div class="panel-body">

        <form  novalidate ng-submit="scoreForm()" name="myform">
            
            <div class="form-group">
                <label for="" class="col-sm-2 control-label">积分日期范围</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="" placeholder="" name="startTime" ng-model="score.startTime" required>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-1 control-label">至</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="" placeholder="" name="endTime" ng-model="score.endTime" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-primary" ng-disabled="myform.$invalid">查找积分</button>
                </div>
            </div>
        </form>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <td>积分日期</td>
                <td>客户</td>
                <td>礼物编号</td>
                <td>礼物积分</td>
                <td>数量</td>
                <td>积分合计</td>
            </thead>
            <tr ng-repeat="item in items">
                <td>{{item.time}}</td>
                <td>{{item.client}}</td>
                <td>{{item.giftNumber}}</td>
                <td>{{item.giftPoint}}</td>
                <td>{{item.giftCount}}</td>
                <td>{{item.totalPoint}}</td>
            </tr>
        </table>
    </div>
</div>
